/* Подключаем Inter */
@font-face {
  font-family: 'Inter';
  src: url('./fonts/Inter-Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Inter';
  src: url('./fonts/Inter-Bold.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

/* Подключаем Manrope */
@font-face {
  font-family: 'Manrope';
  src: url('./fonts/Manrope-Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Manrope';
  src: url('./fonts/Manrope-Bold.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

/* Подключаем Loos Wide */
@font-face {
  font-family: 'Loos Wide';
  src: url('./fonts/LoosWide-Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Loos Wide';
  src: url('./fonts/LoosWide-Medium.woff2') format('woff2');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Loos Wide';
  src: url('./fonts/LoosWide-Bold.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}


:root {
  --font-primary: 'Inter', sans-serif;
  --font-secondary: 'Manrope', sans-serif;
  --font-display: 'Loos Wide', sans-serif;

  --basic-white: #ffffff;
  --white-70: rgba(255, 255, 255, 0.7);
  --white-20: rgba(255, 255, 255, 0.2);
  --basic-light: #eef4f6;
  --text-extra-dark: #0d1627;
  --text-extra-dark-70: rgba(13, 22, 39, 0.7);
  --primary: #1859ff;
  --secondary: #d9f243;
  --basic-gray: #d9d9d9;
  --gradient-primary: radial-gradient(circle at center, #002fa8, #001a68);
  --alpha-primary-6: rgba(0, 39, 178, 0.06);

  --line-height-base: 1.5;
  --line-height-tight: 1.2;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: var(--font-primary);
  background-color: #000000;
  color: #ffffff;
}

img {
  max-width: 100%;
  height: auto;
  object-fit: contain;
}

.plus-button {
  width: 60px;
  height: 60px;
  color: var(--primary);
  vertical-align: middle;
}

.loos {
  font-family: var(--font-display);
}

.p1 {
  font-family: var(--font-secondary);
  font-size: 18px;
  line-height: 24px;
}

.heading {
  font-family: var(--font-display);
  font-size: 90px;
  font-weight: 500;
  line-height: var(--line-height-tight);
}