/* Подключаем Inter */
@font-face {
  font-family: 'Inter';
  src: url('/fonts/inter/Inter-Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Inter';
  src: url('/fonts/inter/Inter-Bold.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

/* Подключаем Manrope */
@font-face {
  font-family: 'Manrope';
  src: url('/fonts/manrope/Manrope-Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Manrope';
  src: url('/fonts/manrope/Manrope-Bold.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

/* Подключаем Loos Wide */
@font-face {
  font-family: 'Loos Wide';
  src: url('/fonts/loos-wide/LoosWide-Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Loos Wide';
  src: url('/fonts/loos-wide/LoosWide-Bold.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}


:root {
  --font-primary: 'Inter', sans-serif;
  --font-secondary: 'Manrope', sans-serif;
  --font-display: 'Loos Wide', sans-serif;

  --basic-white: #ffffff;
  --basic-light: #eef4f6;
  --text-extra-dark: #0d1627;
  --primary: #1859ff;
  --secondary: #d9f243;
  --basic-gray: #d9d9d9;
  --text-extra-dark-70: rgba(13, 22, 39, 0.7);
  /* #0d1627 с 70% opacity */
  --blue-0027B2-6: rgba(0, 39, 178, 0.06);
  /* #0027B2 с 6% opacity */
  --white-70: rgba(255, 255, 255, 0.7);
  /* Белый с 70% opacity */
  --white-20: rgba(255, 255, 255, 0.2);
  /* Белый с 20% opacity */

  /* Градиенты */
  --gradient-primary: radial-gradient(circle at center, #002fa8, #001a68);

  --line-height-base: 1.5;
  --line-height-tight: 1.2;
}

body {
  font-family: var(--font-primary);
  background-color: #000000;
  color: #ffffff;
}

p {
  font-family: var(--font-secondary);
}

.heading {
  font-family: var(--font-display);
  font-size: 90px;
  font-weight: 500;
  line-height: var(--line-height-tight);
}

.p1 {
  font-size: 24px;
  font-family: var(--font-primary);
}

.plus-button {
  color: var(--primary);
}