/* Подключаем Inter */
@font-face {
  font-family: 'Inter';
  src: url('./fonts/Inter-Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Inter';
  src: url('./fonts/Inter-Bold.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

/* Подключаем Manrope */
@font-face {
  font-family: 'Manrope';
  src: url('./fonts/Manrope-Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Manrope';
  src: url('./fonts/Manrope-Bold.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

/* Подключаем Loos Wide */
/* @font-face {
  font-family: 'Loos Wide';
  src: url('./fonts/LoosWide-Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Loos Wide';
  src: url('./fonts/LoosWide-Bold.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
*/

:root {
  --font-primary: 'Inter', sans-serif;
  --font-secondary: 'Manrope', sans-serif;
  --font-display: 'Loos Wide', sans-serif;

  --line-height-base: 1.5;
  --line-height-tight: 1.2;
}

body {
  background-color: #000000;
  color: #ffffff;
}